@import "tailwindcss";

* {
    font-family: 'Lemon Milk Medium';
}
.desc-text {
    font-family: 'Coolvetica';
}

.dark-mode {
    background-color: #333333;
}
.dark-mode p {
    color: white;
}
.first-song {
    margin-right: 10px;
}
.playlist-header {
    background-color: red;
}
.volume-controls input {
    accent-color: red;
}

body {
    background-color: white;
    color: black;
}

body.dark {
    background-color: black;
    color: white;
}

.song-div.dark {
    background-color: black;
}

@theme {
  --color-white: #FFFFFF; /* white */
  --color-gray: #333333; /* dark gray */
  --color-navy: #232533; /* navy */
  --color-lightgray: #F5F5F5; /* light gray */
  --color-crimson: #DC143C; /* crimson */
}