@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/okashi');

/* need to use the tailwind font face utility */
@theme {
  --color-orange-dark: #de8401;
  --color-orange-medium: #eea504;
  --color-orange-light: #ffce1f;
}